version: 2.1

orbs:
  gke: circleci/gcp-gke@latest # Use the GCP GKE orb in your config     

workflows:
  update:
    jobs:
      - gke/publish-and-rollout-image:
          cluster: that-bot # name of GKE cluster to be created
          container: discord-bot # name of your Kubernetes container
          deployment: discord-bot # name of your Kubernetes deployment
          image: node # name of your Docker image
          tag: $CIRCLE_SHA1 # Docker image tag - optional